{{#each @root}}
<tr>
    <td>{{USUARIO_APELIDO}}</td>
    <td>{{METOD_CLASS}}</td>
    <td>{{METOD_METODO}}</td>
    <td>{{METOD_DESCR}}</td>
    <td>{{DataHora LOG_ACESS_DATA}}</td>
    <td>{{LOG_ACESS_MSN}}</td>
    <td>{{DataHora LOG_ACESS_DATA}}</td>
</tr>
{{/each}}