{{#each @root}}
<tr>
    <td>{{DESREC_ID}}</td>
    <td>{{Data FINANC_DATA}}</td>
    <td>{{Data FINANC_DATA_PG}}</td>
    <td>{{USUARIO_APELIDO}}</td>
    <td>{{Natureza FINANC_NATUREZA}}</td>
    <td>{{FINANC_DESCR}}</td>
    <td>{{FloatMoeda FINANC_PORCONTA}} / {{FloatMoeda FINANC_VALOR}}</td>
    <td>{{FinancEstatus FINANC_ESTATUS}}</td>
</tr>
{{/each}}