{{#each @root}}
<tr>
    <td>{{PRO_ID}}</td>
    <td>{{PRO_CODBARRA}}</td>
    <td>{{PRO_DESCRICAO}}</td>
    <td>{{PES_NOME}}</td>
    <td>{{parseFloat AVA_QNT}}</td>
    <td>{{MEDI_SIGLA}}</td>
    <td>{{AVA_MOTIVO}}</td>
    <td>
        <a href="avaria/remove/{{PRO_ID}}" class="fa fa-trash opcoes ConfirmDialog"
           data-nome="{{PRO_DESCRICAO}}"> </a>
    </td>
</tr>
{{/each}}