{{#each produtos}}
<tr>
    <td>{{PRO_ID}}</td>
    <td>{{PRO_CODBARRA}}</td>
    <td>{{PRO_DESCRICAO}}</td>
    <td><input type="number" id="quantidade" value="{{LIST_PED_QNT}}"></td>
    <td>{{MEDI_SIGLA}}</td>
    <td>{{FloatMoeda LIST_PED_VALOR}}</td>
    <td>{{FloatMoeda SUBTOTAL}}</td>
    <td><a class="fa fa-times opcoes" id="exclusao"></a></td>
</tr>
{{/each}}
