{{#each @root}}
<tr>
    <td>{{ORDEM_ID}}</td>
    <td>{{ORDEM_DATA}}</td>
    <td>{{USUARIO_APELIDO}}</td>
    <td>{{PES_NOME}}</td>
    <td>{{OrdemEstatus ORDEM_ESTATUS}}</td>
    <td>{{FinancEstatus FINANC_ESTATUS}}</td>
    <td>{{FloatMoeda FINANC_PORCONTA}} / {{FloatMoeda TOTAL}}</td>
    <td>
        <a href="ordens/alterar/cmp/{{ORDEM_ID}}" class="fa fa-pencil-square-o opcoes BtnEditar"/>
        <a href="ordens/detalhe/{{ORDEM_ID}}" class="fa fa-list-alt opcoes InWindow"/>
        <a href="financeiro/baixar/{{DESREC_ID}}" class="fa fa-money opcoes InWindow"/>
        <a href="ordens/receber/{{ORDEM_ID}}" class="fa fa-check opcoes InWindow"/>
    </td>
</tr>
{{/each}}