{{#each @root}}
<tr>
    <td>{{CATE_ID}}</td>
    <td>{{CATE_NOME}}</td>
    <td>{{CATE_DESCRIC}}</td>
    <td>{{CATE_IMG}}</td>
    <td>{{Estatus CATE_ESTATUS}}</td>
    <td>
        <a href="categoria/edit/{{CATE_ID}}" class="fa fa-pencil-square-o opcoes InWindow"></a>
        <a href="categoria/remove/{{CATE_ID}}" class="fa fa-trash opcoes ConfirmDialog" data-nome="{{CATE_NOME}}"></a>
    </td>
</tr>
{{/each}}