{{#each @root}}
<tr>
    <td>{{CARG_ID}}</td>
    <td>{{CARG_NOME}}</td>
    <td>
        <a href="cargo/edit/{{CARG_ID}}" class="fa fa-pencil-square-o opcoes InWindow"></a>
        <a href="cargo/remove/{{CARG_ID}}" class="fa fa-trash opcoes ConfirmDialog" data-nome="{{CARG_NOME}}"></a>
    </td>
</tr>
{{/each}}