{{#each @root}}
<tr>
    <td>{{RUA_ID}}</td>
    <td>{{RUA_NOME}}</td>
    <td>{{BAIRRO_NOME}}</td>
    <td>{{CIDA_NOME}}</td>
    <td>{{ESTA_NOME}}</td>
    <td>{{ESTA_UF}}</td>
    <td>
        <a href="endereco/edit/{{RUA_ID}}" class="fa fa-pencil-square-o opcoes InWindow"></a>
        <a href="endereco/remove/{{RUA_ID}}" class="fa fa-trash opcoes ConfirmDialog" data-nome="{{RUA_NOME}}"></a>
    </td>
</tr>
{{/each}}