{{#each @root}}
<tr>
    <td>{{PRO_ID}}</td>
    <td>{{PRO_CODBARRA}}</td>
    <td>{{PRO_DESCRICAO}}</td>
    <td>{{MEDI_SIGLA}}</td>
    <td><input type="text" class="inputTab" id="ESTOQ_MIN" value="{{parseFloat ESTOQ_MIN}}" autocomplete="off"></td>
    <td><input type="text" class="inputTab" id="ESTOQ_ATUAL" value="{{parseFloat ESTOQ_ATUAL}}" autocomplete="off"></td>
    <td><input type="text" class="inputTab" id="ESTOQ_CUSTO moeda" value="{{FloatMoeda ESTOQ_CUSTO}}" autocomplete="off"></td>
    <td><input type="text" class="inputTab" id="ESTOQ_VENDA moeda" value="{{FloatMoeda ESTOQ_VENDA}}" autocomplete="off"></td>
</tr>
{{/each}}