{{#each @root}}
<tr>
    <td>{{FPG_ID}}</td>
    <td>{{FPG_DESCR}}</td>
    <td>{{FPG_PARCE}}</td>
    <td>{{FPG_CUSTO}}</td>
    <td>{{FPG_AJUSTE}}</td>
    <td>{{Estatus FPG_ESTATUS}}</td>
    <td>
        <a href="formapg/edit/{{FPG_ID}}" class="fa fa-pencil-square-o opcoes InWindow"> </a>
        <a href="formapg/remove/{{FPG_ID}}" class="fa fa-trash opcoes ConfirmDialog"
           data-nome="{{FPG_DESCR}}"> </a>
    </td>
</tr>
{{/each}}