{{#each @root}}
<tr>
    <td>{{DESREC_ID}}</td>
    <td>{{USUARIO_APELIDO}}</td>
    <td>{{Data FINANC_DATA}}</td>
    <td>{{Data FINANC_VECIMENTO}}</td>
    <td>{{Data FINANC_DATA_PG}}</td>
    <td>{{PES_NOME}}</td>
    <td>{{FloatMoeda FINANC_PORCONTA}} / {{FloatMoeda FINANC_VALOR}}</td>
    <td>{{FinancEstatus FINANC_ESTATUS}}</td>
    <td>{{Natureza FINANC_NATUREZA}}</td>
    <td>
        <a href="financeiro/edit/{{DESREC_ID}}" class="fa fa-pencil-square-o opcoes InWindow"/>
        <a href="financeiro/remove/{{DESREC_ID}}" class="fa fa-trash opcoes ConfirmDialog"
           data-nome="{{FPG_DESCR}}"/>
        <a href="ordens/detalhe/{{ORDEM_ID}}" class="fa fa-list-alt opcoes InWindow"> </a>
        <a href="financeiro/baixar/{{DESREC_ID}}" class="fa fa-money opcoes InWindow"/>
    </td>
</tr>
{{/each}}