{{#each @root}}
<tr>
    <td>{{MEDI_ID}}</td>
    <td>{{MEDI_NOME}}</td>
    <td>{{MEDI_SIGLA}}</td>
    <td>
        <a href="medida/edit/{{MEDI_ID}}" class="fa fa-pencil-square-o opcoes InWindow"> </a>
        <a href="medida/remove/{{MEDI_ID}}" class="fa fa-trash opcoes ConfirmDialog"
           data-nome="{{MEDI_NOME}}"> </a>
    </td>
</tr>
{{/each}}