{{#each @root}}
<tr>
    <td>{{PES_ID}}</td>
    <td>{{PES_NOME}}</td>
    <td>{{PES_FONE}}</td>
    <td>{{PES_CEL1}}</td>
    <td>{{PES_CEL2}}</td>
    <td>{{PessoaTipo PES_TIPO}}</td>
    <td>{{PES_EMAIL}}</td>
    <td>{{Estatus PES_ESTATUS}}</td>
    <td>
        <a href="pessoa/edit/{{PES_ID}}" class="fa fa-pencil-square-o opcoes InWindow"></a>
        <a href="ppessoa/remove/{{PES_ID}}" class="fa fa-trash opcoes ConfirmDialog" data-nome="{{PES_NOME}}"></a>
    </td>
</tr>
{{/each}}