{{#each @root}}
<tr>
    <td>{{PRO_ID}}</td>
    <td>{{PRO_CODBARRA}}</td>
    <td>{{PRO_DESCRICAO}}</td>
    <td>{{MEDI_SIGLA}}</td>
    <td>{{FloatMoeda ESTOQ_CUSTO}}</td>
    <td>{{FloatMoeda ESTOQ_VENDA}}</td>
    <td>{{parseFloat ESTOQ_ATUAL}}</td>
    <td>{{parseFloat ESTOQ_MIN}}</td>
    <td>{{ProdutoTipo PRO_TIPO}}</td>
    <td>{{Estatus PRO_ESTATUS}}</td>
    <td>
        <a href="produto/edit/{{PRO_ID}}" class="fa fa-pencil-square-o opcoes InWindow"> </a>
        <a href="produto/remove/{{PRO_ID}}" class="fa fa-trash opcoes ConfirmDialog"
           data-nome="{{PRO_DESCRICAO}}"> </a>
    </td>
</tr>
{{/each}}