{{#each @root}}
<tr>
    <td>{{ORDEM_ID}}</td>
    <td>{{PES_NOME}}</td>
    <td>{{ORDEM_EQUIPAMENT}}</td>
    <td>{{DataHora ORDEM_DATA}}</td>
    <td>{{OrdemEstatus ORDEM_ESTATUS}}</td>
    <td>
        <a href="servico/edit/{{ORDEM_ID}}" class="fa fa-pencil-square-o opcoes InWindow"/>
        <a href="servico/excluir/{{ORDEM_ID}}" data-nome="{{PES_NOME}}" class="fa fa-trash opcoes ConfirmDialog"/>
        <a href="servico/reabrir/{{ORDEM_ID}}" class="fa fa-folder-open opcoes reabrir"/>
        <a href="servico/faturar/{{ORDEM_ID}}" class="fa fa-truck opcoes InWindow"/>
        <a href="financeiro/baixar/{{DESREC_ID}}" class="fa fa-money opcoes InWindow"/>
    </td>
</tr>
{{/each}}