{{#each @root}}
<tr>
    <td>{{USUARIO_ID}}</td>
    <td>{{PES_NOME}}</td>
    <td>{{CARG_NOME}}</td>
    <td>{{USUARIO_APELIDO}}</td>
    <td>{{USUARIO_LOGIN}}</td>
    <td>{{Estatus USUARIO_ESTATUS}}</td>
    <td>
        <a href="usuario/edit/{{USUARIO_ID}}" class="fa fa-pencil-square-o opcoes InWindow"></a>
        <a href="usuario/remove/{{USUARIO_ID}}" class="fa fa-trash opcoes ConfirmDialog" data-nome="{{USUARIO_LOGIN}}"></a>
        <a href="{{USUARIO_ID}}" class="fa fa-list-alt opcoes permisoes" data-login="{{USUARIO_LOGIN}}"></a>
    </td>
</tr>
{{/each}}