/* corpo */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 62px;
    margin-bottom: 55px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    padding-top: 10px;
    border-top: 1px solid #d5d5d5;
}

/* corpo */

/* Carreganmento spiner */
.spinner {
    top: 4px;
    left: 13px;
    position: fixed;
    margin: 0px auto;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    z-index: 99999;
}

.spinner > div {
    background-color: #aaaaaa;
    height: 100%;
    width: 2px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.2)
    }
    20% {
        -webkit-transform: scaleY(0.8)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* Carreganmento spiner */

#corpotabela {
    text-transform: uppercase;
}

.navbar li a .badge {
    background: #f86c6b;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 8px;
    line-height: 8px;
    padding: 4px 6px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em
}

.select-stq {
    background-color: transparent;
    font-size: 16px;
    color: #31b0d5;
    border: 0px;
    margin: 10px;
}

.opcoes {
    margin-left: 6px;
}

.opcoes:hover {
    text-decoration: none;
}

.panel-heading {
    min-height: 44px;
}

.panel-heading input {
    margin-top: -2px;
    margin-right: 20px;
    background-color: #ffffff;
}

.cabecario {
    width: 100%;
}

.cabecario tr th {
    padding-left: 5px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
}

.select-estatus {
    background: transparent;
    border: 0px solid #000;
    margin-left: -8px;
}

#quantidade {
    font-size: 14px;
    height: 25px;
    border: none;
    max-width: 60px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: -5px;
    background: transparent;
}

.inputTab {
    font-size: 14px;
    height: 25px;
    border: none;
    max-width: 90px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-right: 0px;
    background: transparent;
    text-align: center;
}

.titulo {
    font-weight: bold;
}

/* Fonte */
.alerta {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.vermelho {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.laranja {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.azul {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.verde {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

/* Fonte */

.data {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    vertical-align: middle;
}

.select-user {
    width: 100px;
    max-width: 150px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    vertical-align: middle;
}

.botao-basico {
    border: 1px solid transparent;
    height: 24px;
    border-radius: 4px;
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
    margin-right: 10px;
    margin-left: 10px;
}

.input-basico {
    border: 1px solid transparent;
    height: 25px;
    width: 150px;
    border-radius: 4px;
    color: #333333;
    background-color: transparent;
    border-color: #cccccc;
    text-align: center;
}

.input-mostra {
    border: 1px solid transparent;
    height: 24px;
    width: 40px;
    border-radius: 4px;
    color: #333333;
    background-color: transparent;
    border-color: #cccccc;
    text-align: center;
}

textarea {
    resize:vertical;
    overflow-x: hidden;
}

/* Correção para o datapicker do jquery ui fica sobre a dialog */
#ui-datepicker-div {
    z-index: 99999 !important;
}